/* Empty. Add your own CSS if you like */

body,
.pane,
.view{
    background: rgba(240, 239, 246, 1);
}
a{
    text-decoration: none;
    color: #333333;
}
[nav-bar-transition] [nav-bar="active"] .bar,
[nav-bar-transition] [nav-bar="entering"] .bar{
    background: #276fff;
}
.guide-page{
    background: #389bff;
    padding: 40px;
    background: url(../img/guidebg.png) no-repeat center;
}
.guide-page h2,
.guide-page a{
    color: #ffffff;
}
.guide-page a{
    text-decoration: underline;
}
.bar.bar-stable .title,
.bar-stable .button.button-clear,
.icon.ion-ios-arrow-back,
.icon.ion-android-arrow-back{
    color: #ffffff;
}
.bar .buttons span.back-text{
    display: none;
}
.bar-footer{
    height: 50px;
}
ion-side-menu .bar.bar-stable .title{
    color: #000;
}
ion-view ion-content.scroll-content{
    padding-top: 43px;
}
ion-content ion-slide{
	background: url(../img/victim_index.png) no-repeat center;
	filter:alpha(opacity=50); 
	opacity: 10; 
}

.upload .list .item-content{
	background: url(../img/victim_index.png) no-repeat center;
    clear: both;
}

.list-item{
	padding-top:10px;
	background: url(../img/victim_index.png) no-repeat center;
	text-align:center;
}

ion-content .uploadLawyerCard{
    margin-top: 0;
    padding-bottom: 10px;
    clear: both;
}

.fr{
    float: right;
}
.settingPage .list{
    margin-bottom: 20px;
}
.step .icon{
    display: inline-block;
    height: 32px;
    width: 24px;
    text-align: center;
}
input.with-icon{
    display: inline-block;
    vertical-align: 2px;
    padding-top: 0;
}
.padding-h-20{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-v-20{
    padding-top: 20px;
}
.form-list .item{
    padding-top: 8px;
    padding-bottom: 8px;
}

.icon{
    color: #5d5c5c;
}
.size-16{
    font-size: 16px;
}
.size-18{
    font-size: 18px;
}
.size-21,
.bar-footer .tab-item .icon{
    font-size: 21px;
}
.size-24{
    font-size: 24px;
}
.size-32{
    font-size: 32px;
}
.dashboard{
    padding: 0 30px 30px;
}
.dashboard h4{
    line-height: 40px;
}
.dashboard li{
    margin-bottom: 12px;
}
.bar-footer .tab-item .txt{
    margin-left: -5px;
}
.bar-footer .tab-item .icon{
    height: 18px;
}
.do-upload-page h4{
    font-size: 12px;
    margin: 12px 0 2px;
}


.upload-item1 {
    overflow: hidden;
    padding: 10px 20px;
    background: url(../img/evidence_background.png);
    height:100px;
    background-size:100% 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.upload-item2 {
    overflow: hidden;
    padding: 10px 20px;
    background: url(../img/evidence_background.png);
    height:100px;
    background-size:100% 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.upload-item3 {
    overflow: hidden;
    padding: 10px 20px;
    background: url(../img/evidence_background.png);
    height:100px;
    background-size:100% 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}



.lawyer-upload-item{
    overflow: hidden;
    padding: 10px 20px;
    background: url(../img/evidence_background.png);
    height:380px;
    background-size:100% 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.upload-icon,
.upload-imgItem{
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px dashed #333333;
    margin-right: 12px;
    margin-bottom: 6px;
    float: left;
}
.upload-imgItem{
    text-align: center;
    line-height: 50px;
    font-size: 10px;
}
.upload-imgItem img{
    height: 100%;
    width: 100%;
}
.upload-imgItem .upload-progress{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
}
.upload-icon:after{
    position: absolute;
    content: '+';
    font-size: 32px;
    color: #696969;
    left: 14px;
    top: 2px;
    line-height: normal;
}
.upload-del{
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 0;
    line-height: 12px;
    height: 14px;
    width: 14px;
    background-color: rgba(255, 0, 0 , 0.5);
    color: #ffffff;
}
.item-select select,
.item-select:after{
    position: relative;
}
.item-select select{
    padding-left: 0;
    direction: ltr;
}
.item-select:after{
    right: 36px;
    margin-top: 0;
}
.case-status{
    float: right;
    font-size: 12px;
    line-height: 18px;
}
.login-page .button-dark,
.register-page .button-dark{
    width: 80px;
}
.detail-page .row{
    font-size: 14px;
}
.detail-page .input-label{
/*     text-align:right;
 */}
.case-card h2{
    margin-bottom: 0;
    margin-top: 8px;
}
.button-center{
    text-align: center;
}
.button-center .button{
    width: 120px;
    margin: 10px;
}
.item-avatar .item-note{
    position: absolute;
    right: 20px;
    top: 36%;
    font-size: 20px;
}
.case-list-lawyer{
    overflow: hidden;
    margin-bottom: 12px;
    background: white;
}
.case-list-lawyer .item-select{
    width: 50%;
    float: left;
    border: none;
}
.case-list-lawyer .item-select select{
    font-size: 12px;
    padding-right: 40px;
}

.upload{
	padding-top:10px;
	background: url(../img/victim_index.png) no-repeat center;
	text-align:center;
}


.card{
	text-align:center;
}

.upload h3{
	color:white;
}

.upload h5{
	color:white;
}

.upload p{
	color:white;
}

.notice{
	height: 100%;
	vertical-align: middle;
	padding-top: 150px;
	padding-bottom: 150px;
    text-align:center;
}

.upload .message h3{
	color:white;
}

.upload .message h5{
	color:white;
}

.upload .message p{
	color:white;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 10px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.aboutus{
	background-color:#fff;
	padding:10px;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}