<ion-view view-title="关于大状">
    <ion-content  overflow-scroll="true" padding="false" class="settingPage no-header no-subheader no-tabs-top">
        <div class="aboutus">
	  	&#12288&#12288大状目前是一家致力于为国内用户提供道路交通事故法律服务的云服务平台。
	  	</br>&#12288&#12288借助移动互联网，我们将打造提供标准化道路交通事故法律服务的云平台——大状。
	  	</br>
		    我们为每个用户提供高效专业的法律服务，包括：
		</br>
		一．远程审单咨询服务
		</br>&#12288&#12288大状的专业法律服务团队为当事人提供免费审单咨询服务，能够专业高效的为用户第一时间解答各类交通事故法律问题。
		</br>二．事故赔偿保底定价服务
		</br> &#12288&#12288   大状的专业法律服务团队为当事人提供权威的事故赔偿定价服务，方便快捷的确定保底赔偿金额。
		</br>三．委托成交服务
		</br>&#12288&#12288    定价完成后，如果用户对定价不满意，可以选择不成交或者重新定价。无论最终委托成功与否，我们都不会向当事人收取任何费用。
		</br>四．手续服务
		</br>&#12288&#12288	为确保用户委托服务的安全性，我们为用户全程提供保底赔偿的担保，委派专人进行对案件的持续跟踪，确保最终的诉讼赔付成功。整个法律服务过程，省时、省心、省力。
		
		 </br>   我们做的不是大案要案，而是每个人都要行走的马路上的案子。
		
		</br>
		</br>愿景:
		</br>&#12288&#12288    让法律不再遥不可及
		
		</br>使命:
		</br>&#12288&#12288让用户得到应该得到的
		
		<div style="text-align:center">
	  			<img ng-src="img/logo.png" style="width:88px;height:88px;" >
	  	</div>
	  </div>
	  
	  </ion-content>
	  
</ion-view>