<ion-view view-title="案例详情">
    <ion-content class="detail-page">
	    <ul class="list form-list" >
		      <label class="item item-input">
		      	<span class="step size-24">
                  <i class="icon ion-ios-calendar"></i>
                </span>
			    <span class="input-label">案发时间</span>
			    <span class="input-label">{{info.time}}</span>
			  </label>
			  <label class="item item-input">
			  	<span class="step size-24">
                  <i class="icon ion-ios-location"></i>
                </span>
			    <span class="input-label">案发地点</span>
			    <span class="input-label">{{info.address}}</span>
			  </label>
			  <label class="item item-input">
			  	<span class="step size-24">
                  <i class="icon ion-ios-star"></i>
                </span>
			    <span class="input-label">处理机关</span>
			    <span class="input-label">{{info.department}}</span>
			  </label>
			  <label class="item item-input">
			  	<span class="step size-24">
                  <i class="icon ion-ios-cog"></i>
                </span>
			    <span class="input-label">主次责任</span>
			    <span class="input-label">{{info.responsibility_CN}}</span>
			  </label>
			  
			  <label class="item item-input">
			  	<span class="step size-24">
                  <i class="icon ion-android-lock"></i>
                </span>
			    <span class="input-label">案件证据</span>
			    <button class="button button-clear icon ion-ios-arrow-right col col-100"></button>
			  </label>
			</ul>  
			  
    
    
    
    
        <!-- <div class="card">
            <div class="item">
                <h2>案例详情  <span class="case-status">{{info.status}}</span></h2>
                <p>id: {{info.case_id}}</p>
            </div>
            <div class="item item-body case-card">
                <h2>案例基本信息</h2>
                <div class="row">日期时间：{{info.time}}</div>
                <div class="row">处理机关：{{info.department}}</div>
                <div class="row">地点：{{info.address}}</div>
                <div class="row">主次责任：{{info.responsibility_CN}}</div>
                <div class="row">案件描述：</div>
                <div class="row" ng-bind-html="info.info"></div>

                <h2>律师信息</h2>
                <div class="row">姓名：</div>
                <div class="row">事务所：</div>
            </div>
            <div class="item">
                <button ui-sref="app.edit-upload({id: case_id})" class="button button-small button-balanced"
                        ng-disabled="disableEdit">
                    编 辑
                </button>
            </div>
        </div> -->
    </ion-content>
</ion-view>
