<ion-pane>
    <ion-content class="no-header no-subheader no-tabs-top">
    <div class="card">
	  <div class="item item-divider item-light">
	    上传个人身份证<br/>
	    <p>如是被告需要提供法院传票</p>
	  </div>
			<div class="upload-item1" style="height:{{height1}}px">
                <span class="upload-imgItem" ng-repeat="f in cardFiles track by $index">
                <img ng-src="{{cardViewFiles[$index]}}" alt="">
                <span class="upload-progress">{{f.progress || 0}}%</span>
                <span class="upload-del" ng-if="f.progress == 100" ng-click="delCardImg(f, $index)">x</span>
                </span>
            </div>
	  <div class="item item-divider item-light">
	       <button class="button button-icon icon ion-plus button-positive button-small button-clear" ngf-select="uploadCardFiles($files)" multiple accept="image/*" ngf-max-size="100MB"></button>
	  </div>
	</div>
	
	<div class="card">
	  <div class="item item-divider item-light">
	    交通事故责任认定书或者交通事故协议<br/>
	    <p>如是被告，可不上传，直接与律师洽谈</p>
	  </div>
			<div class="upload-item2" style="height:{{height2}}px">
                <span class="upload-imgItem" ng-repeat="f in protocolFiles track by $index">
                <img ng-src="{{protocolViewFiles[$index]}}" alt="">
                <span class="upload-progress">{{f.progress || 0}}%</span>
                <span class="upload-del" ng-if="f.progress == 100" ng-click="delProtocolImg(f, $index)">x</span>
                </span>
            </div>
	  <div class="item item-divider item-light">
	       <button class="button button-icon icon ion-plus button-positive button-small button-clear" ngf-select="uploadProtocolFiles($files)" multiple accept="image/*" ngf-max-size="100MB"></button>
	  </div>
	</div>
	
	<div class="card">
	  <div class="item item-divider item-light">
	    医药费图片<br/>
	    <p>如是被告，可不上传，直接与律师洽谈</p>
	  </div>
	  <div class="upload-item3" style="height:{{height3}}px">
          <span class="upload-imgItem" ng-repeat="f in otherFiles track by $index">
          <img ng-src="{{otherViewFiles[$index]}}" alt="">
          <span class="upload-progress">{{f.progress || 0}}%</span>
          <span class="upload-del" ng-if="f.progress == 100" ng-click="delOtherImg(f, $index)">x</span>
          </span>
      </div>
    	  
	  <div class="item item-divider item-light">
	       <button class="button button-icon icon ion-plus button-positive button-small button-clear" ngf-select="uploadOtherFiles($files)" multiple accept="image/*" ngf-max-size="100MB"></button>
	  </div>
	</div>
    
       
    <div class="padding-h-20">
         <button ng-click="submitUpload()" class="button button-block button-positive">提交资料</button>
    </div>

    </ion-content>
</ion-pane>