<ion-view view-title="我的">
    <ion-content class="account-page">
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>还没有昵称</h2>
                <p>13300128947</p>
                <span class="item-note">
                  律师 <i class="icon ion-arrow-right-c"></i>
                </span>

            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-pricetags"></i>
                付款单
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-android-checkbox-outline"></i>
                已完成
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-android-clipboard"></i>
                已接单
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/app/lawyer-message">
                <i class="icon ion-chatbubbles"></i>
                我的通知
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-gear-b"></i>
                设置
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
    </ion-content>
</ion-view>