<ion-view view-title="案件中心">
    <ion-content class="upload no-header no-subheader no-tabs-top" >
    	<ion-refresher on-refresh="doRefresh()"  
                           pulling-text="下拉刷新"   
                           refreshing-text="刷新中"  
                           refreshing-icon="ion-loading-b">  
        </ion-refresher> 
        
        
    	<div ng-if="!caseList && lawyer_status == 'pass'">
		    <p>
		    	<h3>暂无案件</h3>
		    </p>
	    </div>
	    
	    <div ng-if="lawyer_status == 'checking'">
		    <p>
		    	<h3>审核中</h3>
		    	<h5>我们将在1-2个工作日内进行审核，请耐心等待</h5>
		    </p>
	    </div>
	    
	    <div ng-if="lawyer_status == 'refuse'">
		    <p>
		    	<h3>审核未通过</h3>
		    	<h5>请您在个人中心重新上传您的相关证件</h5>
		    </p>
	    </div>
	    
	    <div ng-if="caseList">
	    	<!-- <ion-list>
            	<ion-item ng-repeat="case in caseList" href="#/app/details/{{case.id}}"> -->
					
					<div class="card" style="text-align:left;" ng-repeat="case in caseList">
					  <a href="#/app/details/{{case.id}}">
					  <div class="item item-divider item-right item-light">
					  	  <div class="item item-button-right">
						    {{case.address}}
						    <button class="button button-small button-clear">
						    <h4>{{case.status}}</h4>
						    </button>
						  </div>
					  </div>
					  <div class="item item-text-wrap" style="font-size:14px">
							案件时间：{{case.time}}</br>
							案件地点：{{case.address}}</br>
							处理机关：{{case.department}}</br>
							主次责任：{{case.responsibility}}</br>
					  </div>
					  </a>
					</div>
				<!-- 				</ion-item>
				</ion-list> -->
	    </div>
	</ion-content>
</ion-view>
