<ion-view view-title="律师注册">
    <ion-content class="register-page">
        <ul class="list form-list">
            <li class="item">
                <input ng-model="data.pwd1" class="with-icon" type="text" placeholder="设置登陆密码">
            </li>
            <li class="item">
                <input ng-model="data.pwd2" class="with-icon" type="text" placeholder="再次输入登陆密码">
            </li>
        </ul>
        <div class="padding-h-20">
            <button ui-sref="app.register-lawyer-step4" class="button button-block button-positive" type="submit">下一步
            </button>
        </div>
    </ion-content>
</ion-view>