<ion-view view-title="设 置"> 
<ion-content class="settingPage no-header no-subheader no-tabs-top">
<div class="list">
	<ul class="list">
		<li class="item item-toggle">消息推送<label
			class="toggle toggle-assertive"> <input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
		</label>
		</li>
	</ul>


<!-- 	<a class="item item-icon-right" href="#"> 账号绑定 <i
		class="icon ion-ios-arrow-right"></i>
	</a>  -->
	<a class="item item-icon-right" href="#/app/law"> 法律条款 <i
		class="icon ion-ios-arrow-right"></i>
	</a> 
<!-- 	<a class="item item-icon-right" href="#"> 意见反馈 <i
		class="icon ion-ios-arrow-right"></i>
	</a> 
	<a class="item item-icon-right" href="#"> 给大状好评 <i
		class="icon ion-ios-arrow-right"></i>
	</a> -->
</div>
<div class="list">

	<!--             <li class="item"><a href="javascript:" ng-click="logout()">退出登陆</a></li>
 -->
</div>
</ion-content> </ion-view>
